@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
.holder {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
}

.logo-holder {
  text-align: right;
}

.logo {
  background-image: url('logo.png');
  background-size: cover;
  height: 40px;
  width: 150px;
}

.client-holder {
  background-color: #e5e5e5;
  padding: 8px;
}

.tk-holder {
  padding: 8px 0;
}

.tk-image-thumb {
  height: 55px;
  cursor: pointer;
}

.tk-image-thumb:hover {
  width: 640px;
  height: inherit;
  position: absolute;
  z-index: 1000;
  max-width: 100%;
}
