@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
body {
  background-color: #ddd;
}
h1 {
  text-align: center;
  font-size: 22px;
}
#editor {
  height: 500px;
  font-size: 22px;
}
.debugger .messages, .debugger .images {
  height: 220px;
  overflow: auto;
  background-color: #fff;
}
.debugger .image {
  width: 100%;
}
.debugger .image:hover {
  cursor: pointer;
}
.control-menu {
  border-top: 1px solid #ccc;
  padding-top: 8px;
  margin-top: 5px;
  padding-bottom: 20px;
}
