.circle-holder {
	width: 100%;
}

.circle {
	background-color: #666;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	margin: auto;
}

.circle-dot {
	background-color: #ccc;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	margin: 65px 5px;  
	float: left;
}