@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
	padding-top: 50px;
	background-color: #ecf0f1;
	color: #2c3e50;
}

/*
.navbar {

	border-bottom-color: #2C82C9;
	background-color: #3D8EB9;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-nav > .active > a {
	background-color: #2980b9;
}
*/



/* Application */
.application:hover {
	text-decoration: none;
}

/* Featured */
.featured-application .background {
	position: fixed;
   left: 0;
   right: 0;
   z-index: -1;

   display: block;
	 height: 300px;
}

.featured-application:hover {
	cursor: pointer;
	color: #2c3e50;
	opacity: 0.9;
}

.featured-application .logo-image {
	float: left;
	width: 100%	;
}

.featured-application h3, .featured-application h2 {
	margin: 10px 0;
}

.featured-application .content {
	height: 300px;
	padding: 20px;
}

.delimiter {
	border-bottom: 1px solid #ddd;
	margin: 20px;
}
