body {
  padding: 0;
  margin: 0;
}

#vr {
  background-color: black;
  padding: 0;
  margin: 0;
}

.left-holder {
  float: left;
}

.right-holder {
  float: right;
}

.right-holder, .left-holder {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  width: calc(50% - 16px);
  height: calc(100% - 64px);
  background-color: #000;
}

#left, #right {
  border-radius: 30%;
  background-color: #999;
  width: 100%;
  height: 100%;
}

.report {
  position: relative;
  display: inline-block;
  top: 30%;
  left: 55%;
  margin-bottom: -50px;
  font-weight: bold;
  font-size: 24px;
  color: white;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}
